@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif; 
    padding: 0px;   
    margin: 0px;
}

body {
    background-image: url('img/pexels.jpg');
    background-size: 100vh;
    background-size: 100vw;
}

h1 {
    font-size: 30pt;
    color: #fcbad0;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin: 20px;
}

section {
    background-color: rgba(248, 153, 185, 0.829);
    width: 300px;    
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.493);
    text-align: center;
}

section > div > input {
    margin: 20px;
    font-size: 16pt;
    border-radius: 5px;
}

input#calc {
    padding: 5px;
    color: #ce809a;
    background-color: #422040;
}

div {
    padding: 5px;
}

div > p {
    font-size: 20pt;
    color: #422040;
    font-weight: bold ;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

div#res {
    font-size: 20pt;
    color: #422040;
    font-weight: bold ;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: rgba(248, 153, 185, 0.877);
    text-align: center;
    font-style: italic;
    margin-top: 120px;
}