@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif; 
    padding: 0px;   
    margin: 0px;
}

body {
    background-image: url('img/pexels.jpg');
    background-size: 100vh;
    background-size: 100vw;
    
    
}

h1 {
    font-size: 30pt;
    color: #ff98ba;
    text-align: center;
    text-shadow: -5px -5px -5px rgb(0, 0, 0);
    margin: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
    
}

section {
    background-color: rgba(248, 153, 185, 0.829);
    width: 300px;
    padding: 15px;    
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.493);
    text-align: center;
}

section > div > input {
    margin: 20px;
    font-size: 16pt;
    border-radius: 5px;
    text-align: center;    
}

input#calc {
    padding: 5px;
    color: #fcbad0;
    background-color: #422040;
}

div {
    padding: 5px;
}

div > label {
    font-size: 20pt;
    color: #422040;
    font-weight: bold ;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

div#res {
    font-size: 20pt;
    color: #422040;
    font-weight: bold ;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.301);
}

table {
    border-collapse: collapse;
    margin: auto;
}

td, th {
    color: #422040;    
    border: 1px solid #422040;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

p#fonte {
    font-size: 9pt;
    color: #422040;
    font-style: italic;
}

a {
    background-color: #422040;
    color: #fcbad0;    
    border: 1px solid #422040;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.671);
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
}

footer {
    background-color: rgba(248, 153, 185, 0.438);
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}